body {background-color:black; font-family: "arial";}
div{background-color: white; width: 450px; border: 30px; border-radius: 20px; border-color: white;
    margin: 30px; padding: 20px;
}
h1{color:grey;text-align: center;}
form{padding-left: 65px;}
p{padding-left: 65px;}
